body {
	font-size: 20px;
}
#controlContainer {
	margin-left: auto;
	margin-right: auto;
	height: 200px;
}
#divControls {
	width: 450px;
	margin: 15px;
	float: left;
}
.ui-slider-range {
	background: #1C94D5;
}
#divControlsRight {
	width: 350px;
	margin: 15px;
	margin-left: 100px;
	float: left;
}
#divBottom {
	clear: both;
}
#divDebug {
	display:none;
}
#recordedTimes {
	border: solid 1px;
}
#divPhoto {
	display: none;
}
#divImageHolder {
	width: 480;
	height: 640;
	margin-top: 150px;
	margin-left: -50px;
}
#imgDynamic {
	-webkit-transform: rotate(+90deg);
	-moz-transform: rotate(+90deg);
}