html {
	background: #CCC;
}
body {
	background: url(../img/bg.gif) center repeat-y;
	font-family: Arial;
	margin: 0px;
	color: #333;
}
.page {
	margin: 0px auto;
	width: 800px;
	background: white;
}
.header {
	background: url(../img/header-bg.png) bottom repeat-x;
	padding: 10px 15px;
}
.logo {
	width: 400px;
	margin: 0px 130px;
}
.body {
	background: url(../img/main-bg.gif) repeat-x;
	border-top: outset 3px #999999;
	padding: 15px;
}
.footer {
	background: url(../img/footer.gif) top center no-repeat;
	height: 12px;
	width: 818px;
	margin: 0px auto;
}
#divMainContent {
	font-size: 14px;
}
#controlContainer {
	margin-left: 0px auto;
	height: 300px;
	padding-bottom: 50px;
}
#divMapCanvas {
	height: 500px;
	width: 95%;
}
.sliderContainer{
	list-style-type: none;
	margin-left: -50px;
	height: 75px;
}
.sliderContainer li {
	padding: 15px 5px;
	float: left;
}
#divControls {
	width: 500px;
	margin: 15px;
	float: left;
}
#divControlsRight {
	width: 150px;
	height: 175px;
	padding-top: 55px;
	margin: 15px 35px;
	float: right;
}
#divBottom {
	clear: both;
}
#divBottom input {
	margin-bottom: 5px;
}
#divDebug {
	display:none;
}
#recordedTimes {
	border: solid 1px;
}
#divPhoto {
	display: none;
}
#divImageHolder {
	width: 640;
	height: 480;
}

a:link {color: #1D4C7A;}      /* unvisited link */
a:visited {color: #1D4C7A;}  /* visited link */
a:hover {color: #0B3E6F;}  /* mouse over link */
a:active {color: #1D4C7A; outline: 0;}  /* selected link */
a:focus{-moz-outline-style: none; outline: 0;} /*clicked link*/

/*Jquery UI Overrides*/
.ui-slider-horizontal { width: 275px; height: 13px; margin-top: 12px; margin-right: 35px; }
.ui-slider-horizontal .ui-slider-handle { outline: none; border: none; width: 51px; height: 21px; top: -.3em; margin-left: -.6em; background: url(../img/slider.png); }
.ui-slider-vertical { width: .8em; height: 100%; }
.ui-slider-vertical .ui-slider-handle { outline: none; border: none; width: 25px; height: 51px; left: -.3em; margin-left: 0; margin-bottom: -.6em; background: url(../img/slider-vertical.png); }