body {
	background: grey;
}
.header {
	height: 200px;
	background: blue;
}
.divider {
	height: 25px;
	background: green;
}
.body {
	background: grey;
	width: 800px;
	margin: 0px auto;
}
#divMainContent {
	font-size: 14px;
}
#controlContainer {
	margin-left: auto;
	margin-right: auto;
	height: 200px;
}
#divControls {
	width: 350px;
	margin: 15px;
	float: left;
}
.ui-slider-range {
	background: #1C94D5;
}
#divControlsRight {
	width: 350px;
	margin: 15px;
	float: right;
}
#divBottom {
	clear: both;
}
#divDebug {
	display:none;
}
#recordedTimes {
	border: solid 1px;
}
#divPhoto {
	display: none;
}
#divImageHolder {
	width: 480;
	height: 640;
	margin-top: 150px;
	margin-left: -50px;
}
#imgDynamic {
	-webkit-transform: rotate(+90deg);
	-moz-transform: rotate(+90deg);
}