body {
	font-family: Arial;
	margin: 0px;
	background: #CCCCCC;
}
.header {
	margin: 0px auto;
	height: 200px;
	width: 800px;
	padding: 5px 15px;
	background: url(../img/header-bg.png) bottom repeat-x;
}
.logo {
	width: 400px;
	margin: 0px auto;
}
.body {
	border-top: 3px grey;
	background: url(../img/main-bg.gif) repeat-x;
	width: 800px;
	padding: 15px;
	margin: 0px auto;
}
#divMainContent {
	font-size: 14px;
}
#controlContainer {
	margin-left: 0px auto;
	height: 200px;
}
#divControls {
	width: 350px;
	margin: 15px;
	float: left;
}
.ui-slider-range {
	background: #1C94D5;
}
#divControlsRight {
	width: 350px;
	margin: 15px;
	float: right;
}
#divBottom {
	clear: both;
}
#divDebug {
	display:none;
}
#recordedTimes {
	border: solid 1px;
}
#divPhoto {
	display: none;
}
#divImageHolder {
	width: 480;
	height: 640;
	margin-top: 150px;
	margin-left: -50px;
}
#imgDynamic {
	-webkit-transform: rotate(+90deg);
	-moz-transform: rotate(+90deg);
}