html {
	background: #CCC;
}
body {
	background: url(../img/bg.gif) center repeat-y;
	font-family: Arial;
	margin: 0px;
	color: #333;
}
.page {
	margin: 0px auto;
	width: 800px;
	background: white;
}
.header {
	background: url(../img/header-bg.png) bottom repeat-x;
	padding: 10px 15px;
}
.logo {
	width: 400px;
	margin: 0px 130px;
}
.body {
	background: url(../img/main-bg.gif) repeat-x;
	border-top: outset 3px #999999;
	padding: 15px;
}
.footer {
	background: url(../img/footer.gif) top center no-repeat;
	height: 12px;
	width: 818px;
	margin: 0px auto;
}
#divMainContent {
	font-size: 14px;
}
#controlContainer {
	margin-left: 0px auto;
	height: 300px;
	padding-bottom: 50px;
}
#divControls {
	width: 350px;
	margin: 15px;
	float: left;
}
#divControlsRight {
	width: 275px;
	height: 175px;
	padding-top: 50px;
	margin: 15px 35px;
	float: right;
}
#divBottom {
	clear: both;
}
#divDebug {
	display:none;
}
#recordedTimes {
	border: solid 1px;
}
#divPhoto {
	display: none;
}
#divImageHolder {
	width: 480;
	height: 640;
	margin-top: 150px;
	margin-left: -50px;
}
#imgDynamic {
	-webkit-transform: rotate(+90deg);
	-moz-transform: rotate(+90deg);
}